---
layout: page
title: "About"
description: "This is what I do."
header-img: "img/about-bg.jpg"
---

<p>
    I'm a software developer in St. Louis with 9 year's experience in native
    application development, game development, web development, and
    bioinformatics. I have developed enterprise software and hacked at a
    startup. I have worked in C++, Python, Java, Ruby, Groovy, and Go.
</p>

<p>
    Being a great software developer is more than just knowledge of programming.
    It's also having the business sense to know when to refactor and when to
    ship. Developers should crave change and seek out learning experiences.
    They should be good leaders not because they tell people what to do but
    because they are in the trenches too, setting the pattern of quality work.
</p>

<p>Most of all I love writing software.</p>
